---
interface Props {
	href: string;
	width: string;
	height: string;
}

const { href, width, height } = Astro.props;
---

<a href={href}>
	<svg width={width} height={height} viewBox="0 0 27 17" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M12.412 16.22L4.23203 8.38L3.39203 9.16L3.15203 16H0.632031L0.0920314 0.399999H3.69203L3.45203 7.36L8.55203 0.2L12.172 1.16L6.79203 6.04L12.692 16.24L12.412 16.22ZM14.7014 0.399999H18.3414L18.3214 1.46C18.8947 1.11333 19.4814 0.853333 20.0814 0.679999C20.6814 0.493333 21.2747 0.399999 21.8614 0.399999C23.3681 0.399999 24.4681 0.693333 25.1614 1.28C25.8681 1.85333 26.2214 2.57333 26.2214 3.44C26.2214 3.52 26.2147 3.6 26.2014 3.68C26.2014 3.76 26.1947 3.84 26.1814 3.92C26.1014 4.56 25.7614 5.2 25.1614 5.84C24.5614 6.48 23.6147 7.07333 22.3214 7.62C23.3347 7.67333 24.1881 7.88 24.8814 8.24C25.5747 8.6 26.1014 9.02 26.4614 9.5C26.8214 9.98 27.0014 10.44 27.0014 10.88C27.0014 11.9867 26.5414 12.9467 25.6214 13.76C24.7147 14.56 23.4014 15.18 21.6814 15.62C19.9614 16.0467 17.8814 16.26 15.4414 16.26L14.7014 0.399999ZM18.1814 8.32C19.3414 7.77333 20.2681 7.22 20.9614 6.66C21.6681 6.1 22.1814 5.58667 22.5014 5.12C22.8347 4.64 23.0214 4.27333 23.0614 4.02C23.0747 3.96667 23.0814 3.92 23.0814 3.88C23.0814 3.82667 23.0814 3.77333 23.0814 3.72C23.0814 3.26667 22.9347 2.85333 22.6414 2.48C22.3481 2.09333 21.9481 1.9 21.4414 1.9C20.8681 1.9 20.3347 1.93333 19.8414 2C19.3481 2.05333 18.8347 2.16 18.3014 2.32L18.1814 8.32ZM18.0214 15.32C19.1414 15.0667 20.0547 14.7733 20.7614 14.44C21.4814 14.0933 22.0347 13.7267 22.4214 13.34C22.8214 12.9533 23.1014 12.56 23.2614 12.16C23.4214 11.7467 23.5014 11.34 23.5014 10.94C23.5014 10.7133 23.4281 10.4933 23.2814 10.28C23.1347 10.0533 22.8681 9.84667 22.4814 9.66C22.0947 9.46 21.5481 9.3 20.8414 9.18C20.1481 9.04667 19.2547 8.97333 18.1614 8.96L18.0214 15.32Z" fill="white"/>
	</svg>
</a>