---
interface Props {
	width: string;
	height: string;
}

const { width, height } = Astro.props;
---

<button>
    <svg width={width} height={height} viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="10.5" width="24" height="3" fill="white"/>
        <rect width="24" height="3" fill="white"/>
        <rect y="21" width="24" height="3" fill="white"/>
    </svg>
</button> 