<section>
  <header>
    <h2>Experiencia</h2>
  </header>
  <section>
    <ul>
      <li>
        <article>
          <figure>
            <img src="favicon.svg" alt="" width="40px" />
          </figure>
          <section>
            <h3>Js Conf Colombia 2023</h3>
            <p>
              Voluntariado web para colaborar con el desarrollo del landing page
              de JS Conf Colombia 2023.
            </p>
            <small>Junio 2023 - Actualidad</small>
          </section>
        </article>
      </li>
    </ul>
    <figure>
      <img src="favicon.svg" alt="" width="300px" />
    </figure>
  </section>
</section>
