---
import Download from "./icons/Download.astro";
import Designer from "./illustrations/Designer.astro";
---

<section>
    <header>
        <h1>¡Hola, soy <span class="text-gradient">Katy Barboza</span>!</h1>
        <p>Desarrolladora web</p>
    </header>
    <section>
        <ul>
            <li><a href="#">Contactar</a></li>
            <li>
                <a href="#">
                    Hoja de vida
                    <Download />
                </a>
            </li>
        </ul>
        <Designer />
    </section>
</section>