---
import GitHub from "./icons/GitHub.astro";
import LinkedIn from "./icons/LinkedIn.astro";
---

<ul>
    <li>
        <GitHub 
            href="#"
            title="Ir a GitHub"
            width="24px"
            height="auto"
        />
    </li>
    <li>
        <LinkedIn 
            href="#"
            title="Ir a LinkedIn"
            width="24px"
            height="auto"
        />
    </li>
</ul>